* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #1E212B;
}

.body {
    display: flex;
    justify-content: space-evenly;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 48px;
    color: #4D8B31;
}

.sub-titulo {
    font-size: 24px;
    padding: 10px 0;
    color: #FF8427;
}

.texto {
    color: #FFFFFF;
}

.sub-texto {
    color: #ebebeb;
}

b {
    color: #ebebeb;
}

a {
    color: #f1d46a;
}

.esquerda {
    padding: 0 3%;
    gap: 3;

}

.direita {
    padding: 3%;
    gap: 1;

}

.remove-decore {
    padding: 10px 0 10px;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}



.btn-volta {
    margin-right: 50px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.espaco-adicional{
    padding-top: 30%;
}

@media (max-width: 1025px) {
    .direita {
        display: none;
    }
}

@media (max-width: 750px) {
    
   
   .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-volta {
        display: none;
    }
}
